* { /* Remove Margin and Padding from all elements */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {  /* Set main background color */
    background-color: #d9dcd6;
}

.header { /* Set header banner attributes */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 { /* h1 basic settings */
    display: inline-block;
    font-size: 0px;
}

.header h1 .hori { /* h1 split formatting 1 of 3 */
    color: #ffffff;
    padding: 0px 0px;
    font-size: 48px;
}

.header h1 .seo { /* h1 split formatting 2 of 3 */
    color: #d9dcd6;
    padding: 0px 0px;
    font-size: 48px;
}

.header h1 .n { /* h1 split formatting 3 of 3 */
    color: #ffffff;
    padding: 0px 0px;
    font-size: 48px;
}

.categories { /* Nav menu box formatting */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul { /* Unordered list remove bullet points */
    list-style-type: none;
}

.header nav ul li { /* List items positioning */
    display: inline-block;
    margin-left: 25px;
}

a { /* Set list items link style */
    color: #ffffff;
    text-decoration: none;
}

.hero { /* Set hero image position and formatting */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content { /* Set main page below hero image formatting */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization { /* Set SEO box style */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img { /* Set SEO image style */
    max-height: 200px;
}

.float-left { /* Set left image Positioning */
    float: left;
    margin-right: 25px;
}

.search-engine-optimization h2 { /* Set SEO heading style and position */
    margin-bottom: 20px;
    font-size: 36px;
}

p { /* Set all paragraph text size */
    font-size: 16px;
}

.online-reputation-management { /* Set ORM box style */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img { /* Set ORM image style */
    max-height: 200px;
}

.float-right { /* Set left image Positioning */
    float: right;
    margin-left: 25px;
}

.online-reputation-management h2 { /* Set ORM heading style and position */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing { /* Set SMM box style */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img { /* Set SMM image style */
    max-height: 200px;
}

.social-media-marketing h2 { /* Set SMM heading style and position */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits { /* Set benefits box style */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 { 
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand { 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 { 
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost { 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 { 
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer { /* Set footer stlye */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 { /* Set footer font size */
    font-size: 20px;
}
